<!DOCTYPE html>
<html>
	<head>
		<title>AdminHome</title>
	</head>
	<style>
		body{
			background-image: url("https://img.freepik.com/free-vector/musical-colorful-notes-dark-background_1017-32302.jpg");
			background-size: cover;
            opacity: 0.6;
            width: 100%;
			margin-left:600px;
			color:white;
			margin-top:100px;
		}
	</style>
	<body>
		<h1>Admin Home</h1>
		<form action="newsong">
			<input type="submit" value="ADD SONGS">
		</form>
		<br><br>
		<form action="viewsongs">
			<input type="submit" value="VIEW SONGS">
		</form>
		
		<br><br>
		<form action="createplaylists">
			<input type="submit" value="CREATE PLAYLIST">
		</form>
		<br> <br>
		<form action="viewplaylist">
			<input type="submit" value="VIEW PLAYLISTS">
		</form>
	</body>
</html>